*{
margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#content{
  background-image: url("sour-taste.jpg")
}

html {
    
    color: #555;
    font-family:'simplifica','lato','sans-serif';
    font-weight: 300;
    background: #fff;
    font-size: 20px;      
}

.bookinghtml {
	background-image: url(Beer1.jpg);
}	
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}


.dropdown:hover .dropdown-content {
  display: block;
}

header {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(Beer1.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
   background-attachment: fixed;
    
}

h1 {
    color: aliceblue;
    padding-top: 20%;
  margin-top: 60px;
    font-weight: 300;
    font-size: 60px;
    text-align: center;
    animation: fadein 2s;
    
}
h1:after {
    display:block;
    height: 2px;
    background-color: #ff7800;
    content:" ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


section {
    padding: 80px 0;

}
.navhead {
    padding: 80px 0;

}

h2 {
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
	font-size: 24px
}

h4 {
	font-size: 20px
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 16px
}

h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 10px 0
}

hr {
	border: 0;
	border-top: 1px solid #eee;
	margin: 20px 0
}


img {
	width: 100%
}

.height-50{
	height: 50px	
}


table {
    border-radius: 15px;
	border-collapse: collapse;
	margin-top: 2em;
	margin-left: 20%;
	border-right: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	width: 60%;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 1px 2px 10px 0
		rgba(0, 0, 0, 0.12)
    
}

td {
	text-align: left;
	padding: 8px;
}

.towards-right {
	width: 20%;
	border-top: 2px solid #FFFFFF;
	text-align: right;
	color: #FFFFFF;
	position: relative;
    
}

.towards-right .tooltiptext {
	visibility: hidden;
	width: 180px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -28px;
	left: 110%;
}

.towards-right .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}
.loading:hover {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}


.towards-right:hover {
	opacity: 0.6;
}

.towards-right:hover .tooltiptext {
	visibility: visible;
	opacity: 1.0;
}

.towards-left {
	width: 20%;
	border-top: 2px solid #FFFFFF;
	color: #FFFFFF;
	position: relative;
}

.towards-left .tooltiptext {
	visibility: hidden;
	width: 180px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	top: -28px;
	right: 110%;
	
}

.towards-left .tooltiptext::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent black;
}

.towards-left:hover {
	opacity: 0.6;
}

.towards-left:hover .tooltiptext {
	visibility: visible;
}

.menu-page {
	width: 29%;
	background-image: url(../image/pizza_icon/pizza2.jpg);
}

.center-fold {
	width: 2%;	
}

.veg {
	background-color: #23A817;
}

.non-veg {
	background-color: #EA0909;
}

.header-style {
	width: 90%;
	max-width: 1400px;
	margin-left: 5%;
}

.header-text{
	margin-top:-90px; 
	color: #33ff33;
	font-size: 45px;
	font-style: oblique;
}


.top-nav-bar {
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 1;
	overflow: hidden;
	color: #000;
	background-color: #fff;
	letter-spacing: 6px;
	padding: 20px 20px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
}

.right-float {
	float: right;
}

.nav-link {
	color: inherit;
	padding: 15px 15px;
	text-align: center;
	text-decoration: none;
	margin: 10px 10px;
	cursor: pointer;
}

.strong-text {
	font-weight: bold;
}

.nav-link:hover {
	color: #000;
	background-color: #ccc
}

.non-veg-desc {
	float: left;
	width: 30%;
	text-align: center;
}

.veg-desc {
	float: left;
	width: 70%;
}

.clear-both {
	clear: both;
}

.body {
	color: #000;
	background-color: #f1f1f1;
}

.content {
	width: 90.5%;
	margin-left: 4.5%
}

.grid-style {
	padding: 0 8px
}

.column {
	float: left;
	width: 100%;
}

.info-container {
	padding: 0.01em 16px;
}

.menu-container {

	padding: 4em 2em;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0
		rgba(0, 0, 0, 0.12);
	color: #000;
	background: linear-gradient(to top left, #e1eced, white);
	margin-bottom: 16px
}

.grey-text {
	color: #757575;
}

.pay-button {
	background: linear-gradient(to bottom right, #173518, #cae8cb);
	border: 1px solid #FFFFFF;
	border-radius: 12px;
	padding: 2px 10px;
	text-align: center;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

.payment-button {
	background: linear-gradient(to bottom right, #173518, #e0f6ea);
	border: 1px solid #FFFFFF;
	border-radius: 12px;
	padding: 2px 10px;
	text-align: center;
	text-decoration: none;
	margin: 4% 45%;
	cursor: pointer;
	color: black;
}

tbody{
    border: 0px;
    border-radius: 15px;
}
.rad1{
    
    border-top-left-radius: 15px;
}
.rad2{
    
    border-top-right-radius: 15px;
}
.rad3{
    
    border-bottom-left-radius: 15px;
}
.rad4{
    
    border-bottom-right-radius: 15px;
}

.htu {
    padding-top: 2em;
    margin-top: -160px;
    font-size: 50px;
}

.htu:after {
    display:block;
    height: 2px;
    background-color: #ff7800;
    content:" ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.ul-style{ 
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 2;
    font-weight: 500;
}

.ol-style{   
	padding-top: 30px;  
    text-align: center;
}

.red{
    
    color: red;
}

.yellow{
    color: orange;
}

.green{
    
    color: green;
    
}

p {
    padding-top: 20px;        
}

.f1:after {
    display:block;
    height: 2px;
    background-color: #ff7800;
    content:" ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
    
}

.f2:after {
    display:block;
    height: 2px;
    background-color: #ff7800;
    content:" ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.f3:after {
    display:block;
    height: 2px;
    background-color: #ff7800;
    content:" ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

input[type=submit] {
	position: relative;
    background-color: #dff3e8;
    margin: 4% 45%;
    border-radius: 12px;
    border: none;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.footer-style{
	text-align:center;
	margin:1em;
}	

.paytable {
	font-family: serif;
	background: linear-gradient(to bottom right, #173518, #cae8cb);
	color: black;
    border-radius: 15px;
	border-collapse: collapse;
	margin-top: 2em;
	border-right: 2px solid #FFFFFF;
	border-left: 2px solid #FFFFFF;
	border-bottom: 2px solid #FFFFFF;
	width: 60%;
	box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.16), 1px 2px 10px 0
		rgba(0, 0, 0, 0.12)
    
}

.error {
	color: red;
	font-family: serif;
}

.error1 {
	color: red;
	font-family: serif;
	margin-left: 45%;
}

.td-label {
	width : 30%;
}

.td-input {
	width : 30%;
}		

.td-error {
	width : 40%;
}

.loading1{
	width: 150px;
	height: 150px;
}
.menu-page1 {
	width: 100%;
	background-image: url(../image/juice_icon/middle.jpg);
}
.center-fold1 {
	width: 4%;	
}
.tcolor{
	color:#000;
}
.glass1 {
  border: 1px;  
  border-style: solid;
  margin-left: 40%;
  width: 40px;
  height: 60px;
  border-radius: 10%;
  border-color: black;
  color: black;
  padding: 5px;
  background-size: 200% 200%;
  transition: background-position 3000ms, color 3000ms ease, border-color 3000ms ease;
}

.pine:hover .glass1{
  
  border-color: white;
  background-image: 
    linear-gradient(to top, #ffec89 51%, transparent 50%);
  background-position: 0 100%;
  transition: background-position 3000ms, color 3000ms ease, border-color 3000ms ease;
}
.glass2 {
  border: 1px;  
  border-style: solid;
  margin-left: 40%;
  width: 40px;
  height: 60px;
  border-radius: 10%;
  border-color: black;
  color: black;
  padding: 5px;
  background-size: 200% 200%;
  transition: background-position 3000ms, color 3000ms ease, border-color 3000ms ease;
}

.promo:hover .glass2{

  border-color: white;
  background-image: 
    linear-gradient(to top, #8c393f 51%, transparent 50%);
  background-position: 0 100%;
  transition: background-position 3000ms, color 3000ms ease, border-color 3000ms ease;
}
.glass3 {
  border: 1px;  
  border-style: solid;
  margin-left: 40%;
  width: 40px;
  height: 60px;
  border-radius: 10%;
  border-color: black;
  color: black;
  padding: 5px;
  background-size: 200% 200%;
  transition: background-position 3000ms, color 3000ms ease, border-color 3000ms ease;
}

.carrot:hover .glass3{
  
  border-color: white;
  background-image: 
    linear-gradient(to top, #ff6347 51%, transparent 50%);
  background-position: 0 100%;
  transition: background-position 3000ms, color 3000ms ease, border-color 3000ms ease;
}
.glass4 {
  border: 1px;  
  border-style: solid;
  margin-left: 40%;
  width: 40px;
  height: 60px;
  border-radius: 10%;
  border-color: black;
  color: black;
  padding: 5px;
  background-size: 200% 200%;
  transition: background-position 3000ms, color 3000ms ease, border-color 3000ms ease;
}

.melon:hover .glass4{

  border-color: white;
  background-image: 
    linear-gradient(to top, #fc6c85 51%, transparent 50%);
  background-position: 0 100%;
  transition: background-position 3000ms, color 3000ms ease, border-color 3000ms ease;
}
.glass5 {
  border: 1px;  
  border-style: solid;
  margin-left: 40%;
  width: 40px;
  height: 60px;
  border-radius: 10%;
  border-color: black;
  color: black;
  padding: 5px;
  background-size: 200% 200%;
  transition: background-position 3000ms, color 3000ms ease, border-color 3000ms ease;
}

.kiwi:hover .glass5{
  
  border-color: white;
  background-image: 
    linear-gradient(to top, lightgreen 51%, transparent 50%);
  background-position: 0 100%;
  transition: background-position 3000ms, color 3000ms ease, border-color 3000ms ease;
}
.glass6 {
  border: 1px;  
  border-style: solid;
  margin-left: 40%;
  width: 40px;
  height: 60px;
  border-radius: 10%;
  border-color: black;
  color: black;
  padding: 5px;
  background-size: 200% 200%;
  transition: background-position 3000ms, color 3000ms ease, border-color 3000ms ease;
}

.orange:hover .glass6{
 
  border-color: white;
  background-image: 
    linear-gradient(to top, orange 51%, transparent 50%);
  background-position: 0 100%;
  transition: background-position 3000ms, color 3000ms ease, border-color 3000ms ease;
}