body{
	background-color: #659DBD;
	font-family: simplifica;
	background-image: url("Beer3.jpg");
	background-repeat:no-repeat;
	background-size: 1400px 800px;
	color: white;
	
	
}
.step1{
	padding-top: 180px;
}

.selection{
	font-size: 20px;

}
#navigation
{
	margin: auto;
	clear: both;
	width: 80%;
	border-radius: 8px;
}

button
{
	background-color: #4CAF50;
	border: none;
	border-radius: 8px;
	color: white;
	padding: 20px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}
button:hover 
{
	background-color: black;
	border-radius: 8px;
	border-color: black;
	border: 10px;
	color: white;
	padding: 20px;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
}