body{
	padding-left: 50px;
	padding-top: 100px;
	background-image: url("sour-taste.jpg");
	background-repeat: no-repeat;
	background-size: 1400px 800px;
	background-color: black;
	color:white;

}
.step1{
	color: white;
  font-size: 45px;
}

.centered {
  margin:50px auto;
  text-align:left;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: 12px "Century Gothic" sans-serif;
  text-decoration: none;
  white-space: nowrap;
}

.button, .button1, .button2, .button3{
  display: inline-block;
  *display: inline;
  zoom: 1;
  cursor: pointer;
  border: 1.5px solid #f2f2f2; 
  padding-bottom:23px;
  width:200px;
  overflow: visible;
  font: bold 20px Arial, sans-serif;
  white-space: nowrap;
  color: #555;
  background-color: #f2f2f2;
  /*hover duration */
  -webkit-transition-duration: 0.4s; /* used for safari */
  transition-duration: 0.4s;
}

.button::-moz-focus-inner{
  border: 0;
  padding: 0;
}

/*button hovers when mouse goes over */
.button:hover {
  background-color: #ffffe6;
  border-color: #ffffe6;
  color: black;
}

.button1:hover {
  background-color: #ffffcc;
  border-color: #ffffcc;
  color: black;
}

.button2:hover {
  background-color: #ffff99;
  border-color: #ffff99;
  color: black;
}

.button3:hover{
  background-color: #ffff00;
  border-color: #ffff00;
  color: black;
}

/*highlights selected button */

.button:focus, .button1:focus, .button2:focus, .button3:focus { 
  background: #bfff80;
  color:black;
}

/*next button */

.nextbutton a{
  color:white;
}

.nextbutton{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.nextbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nextbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nextbutton:hover span {
  padding-right: 25px;
}

.nextbutton:hover span:after {
  opacity: 1;
  right: 0;
}

